*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li,
pre,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
